body {
  background: linear-gradient(to top, #EDC3BE, white);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.emoji {
  font-size: 60px;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.emoji:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.text {
  font-size: 12px;
  margin-top: 24px;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial Narrow, sans-serif;
}

.buttons {
  position: absolute;
  bottom: calc(100vh / 4);
  display: flex;
  justify-content: center;
  width: 100%;
}

.twitter-logo {
  background-image: url('https://raw.githubusercontent.com/dick-fuck-face/big-dick-testing/main/icons/twitter-app-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  display: inline-block;
  transition: all 0.1s ease-in-out;
}

.twitter-logo:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.twitter-logo:last-child {
  margin-right: 0;
}

.substack-logo {
  background-image: url('https://raw.githubusercontent.com/dick-fuck-face/big-dick-testing/main/icons/substack-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  display: inline-block;
  transition: all 0.1s ease-in-out;
}

.substack-logo:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.substack-logo:last-child {
  margin-right: 0;
}

.box {
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px;
-webkit-box-shadow: 8px 8px #000000;
-moz-box-shadow: 8px 8px #000000;
box-shadow: 8px 8px #000000;
border: solid #000000;
background-color: #EDC3BE;
padding: 18px;
font-family: Arial Narrow, sans-serif;
font-size: 10pt;
color: #000000;
text-align: center;
}

.box2 {
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
-webkit-box-shadow: 8px 8px #000000;
-moz-box-shadow: 8px 8px #000000;
box-shadow: 8px 8px #000000;
border: solid #000000;
background-color: #EDC3BE;
padding: 18px;
font-family: Arial Narrow, sans-serif;
font-size: 10pt;
color: #000000;
text-align: center;
}

#box {
  position: absolute;
  z-index: 9;
}

#box2 {
  position: absolute;
  z-index: 8;
}

#emoji {
  position: relative;
  z-index: 7;
}
