body {
  background: linear-gradient(to top, #EDC3BE, white);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.emoji {
  font-size: 64px;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: grab;
}

.emoji:hover {
  transform: scale(1.25);
}

.text {
  font-size: 32px;
  position: absolute;
  bottom: 100px;
  text-align: center;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.button {
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #EDC3BE;
  color: white;
  text-decoration: none;
  margin: 0 8px;
}
